@charset "UTF-8";
 @import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* ==========================================================================
   01. Reset
   ========================================================================== */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
h1,
h2,
h3,
h4,
h5,
h6 { font-weight: normal; }
body { line-height: 1; font-family: "Noto Sans JP", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif; overflow-x: hidden; -webkit-text-size-adjust: 100%; }
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section { display: block; }
ul { list-style: none; }
blockquote,
q { quotes: none; }
blockquote:before,
blockquote:after,
q:before,
q:after { content: none; }
a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; text-decoration: none;
-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease; }
a:hover { opacity: .7; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title],
dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input,
select { vertical-align: middle; }

/* ==========================================================================
   02. common
   ========================================================================== */

body{ background: #fff;}


header{ width: 100%; background: #fff; height: 100px; overflow: hidden;}
header .logo{ margin: 15px 0 0 15px;}
header .logo img{width: 300px;}

@media screen and (max-width:899px) {
header{ height: 80px;}
header .logo{ margin: 25px 0 0 10px;}
header .logo img{width: 50%;}	
}



footer{ width:100%; background:#928b80; position: relative; padding: 20px 10px; box-sizing: border-box;}
footer p{ text-align:left; font-size:14px; color:#fff;}
footer p a{ color: #fff; }
footer p a:hover{ text-decoration: underline;}
footer p.copy{ position: absolute; right: 40px; top: 20px;}

@media screen and (max-width:767px) {
footer{ padding:20px 0 60px;}
footer p{ font-size:11px; margin-left: 5px; }
footer p.copy{ position: absolute; right: 5px; top: 60px;}	
}

@media screen and (max-width:320px) {
footer p{ font-size:10px; }
}

.cv_btn{position:fixed; top: 30px; right: 30px; width: 180px;}
.cv_btn img{ width: 100%; height: auto;}

@media screen and (max-width:899px) {
.cv_btn{position:fixed; top: 15px; right: 15px; width: 100px;}	
}

/* ==========================================================================
   03. contents
   ========================================================================== */

#mv{ width: 100%; background: url("../images/mv01.jpg") no-repeat bottom center; background-size: cover; min-height: 500px;}
#mv .inner{ width: 900px; padding: 50px 0; margin: 0 auto;}
#mv .inner img{ width: 100%; height: auto;}

@media screen and (max-width:899px) {
#mv{ min-height: 300px;}	
#mv .inner{ width: 85%; padding: 25px 0;}	
}


#box01{ width: 100%; background: #fff; padding: 40px 0;}
#box01 .inner{ width:900px; margin: 0 auto; text-align: center;}
#box01 .inner img{ width: 100%; height: auto;}

@media screen and (max-width:899px) {
#box01{ padding: 20px 0;}
#box01 .inner{ width:95%; }	
}

#box02{ width: 100%; background: #fff; padding: 40px 0; background-image: url("../images/bg01.jpg"); background-repeat: no-repeat; background-position: top center; background-size: contain;}
#box02 .inner{ width:900px; margin: 0 auto; text-align: center;}
#box02 .inner img{ width: 100%; height: auto;}
#box02 .inner h2{ line-height: 65px; text-align: center; color: #000; font-size: 60px; font-weight: normal; margin-bottom: 40px; font-family: 'Archivo Black', sans-serif; }
#box02 .inner h2 span{ margin-right: 10px;}
#box02 .inner h2 span img{ width: 50px; height: auto;}
#box02 .inner .btn01{ width: 400px; margin: 40px auto;}
#box02 .inner .btn01 img{ width: 100%; height: auto;}

@media screen and (max-width:899px) {
#box02{ padding: 20px 0; }	
#box02 .inner{ width:95%;}	
	#box02 .mb80{ margin-bottom: 40px!important;}	
#box02 .inner h2{ line-height: 65px; font-size: 30px; margin-bottom: 20px;}
#box02 .inner h2 span img{ width: 50px; height: auto;}	
#box02 .inner .btn01{ width: 80%; margin: 20px auto;}
}

#box04{ width: 100%; background: #c7cbb8; padding: 80px 0; background-image: url("../images/bg02_02.jpg"); background-repeat: no-repeat; background-position: top center; background-size: 100%;}
#box04 h2{ width: 1000px; margin: 0 auto 80px;}
#box04 .inner{ width:1000px; margin: 0 auto; text-align: center; background: #fff; padding: 40px; box-sizing: border-box; clear: both;}
#box04 .inner h3{ text-align: center; font-size: 28px; margin-bottom: 40px; color: #658048; font-weight: 500;}
#box04 .inner h3 span{ display: block; margin-bottom: 15px;}
#box04 .inner p{ text-align: center; font-size: 20px; line-height: 1.8; font-weight: normal;}
#box04 .inner p em{ color: #016f28; font-weight: bold; font-style: normal;}
#box04 .inner p.txt02{text-align: left;}
#box04 .inner .center_img{ padding: 40px 0;}
#box04 .inner .circle{ width: 95%; margin: 20px auto;}	
#box04 .inner .circle img{ width: 100%; height: auto;}	
#box04 .inner .center_img ul{ display: flex; justify-content: space-between;}
#box04 .inner .center_img ul li{}
#box04 .inner .right_img{ float: right;}
#box04 .inner .left_img{ float: left; margin-right: 20px;}
#box04 .inner .m_box{ width: 100%; margin:0 auto 40px; clear: both; overflow: hidden;}
#box04 .inner .m_box02{ width: 100%; margin:0 auto 40px; clear: both; overflow: hidden;}
#box04 .inner .movie{ width: 800px; height: auto; margin: 40px auto 80px; clear: both;}

@media screen and (max-width:899px) {
#box04{ padding: 40px 0;}
#box04 h2{ width: 60%; margin: 0 0 40px 10px;}	
	#box04 h2 img{ width: 100%; height: auto;}	
#box04 .inner{ width:98%; padding: 20px 5px;}
#box04 .inner h3{ font-size: 16px; margin-bottom: 20px;}
#box04 .inner h3 span{ width: 30%; margin: 0 auto 10px;}	
#box04 .inner h3 span img{ width: 100%; height: auto;}	
#box04 .inner p{ text-align: center; font-size: 13px; }
#box04 .inner p.txt02{text-align: left;}	
#box04 .inner .center_img{ padding: 20px 0; width: 100%; margin: 0 auto;}	
#box04 .inner .center_img img{ width: 100%; height: auto;}
#box04 .inner .center_img ul{ display: flex; justify-content: space-between; flex-wrap: wrap;}
#box04 .inner .center_img ul li{width: 45%; margin: 10px 0;}
#box04 .inner .circle{ width: 100%; margin: 20px auto;}		
	#box04 .inner .center_img ul li img{ width: 100%; height: auto;}	
#box04 .inner .right_img{ float:none; width: 90%; margin: 0 auto 20px;}
#box04 .inner .left_img{ float: none; margin-right: 0px; width: 90%; margin: 0 auto 20px;}	
	#box04 .inner .right_img img, #box04 .inner .left_img img{ width: 100%; height: auto;}
#box04 .inner .m_box{ width: 100%; margin:0 auto 20px; }
#box04 .inner .m_box02{ width: 100%; margin:0 auto 20px; }
	#box04 .inner .m_box02 .right_img{ float:right; width: 40%; margin: 0 auto 20px;}
#box04 .inner .movie{ width: 90%; margin: 20px auto 40px;}	
	#box04 .inner .movie iframe{ width: 100%; height: 210px;}	
}


#box05{ width: 100%; background: #aa9c91; padding: 80px 0; background-image: url("../images/bg03.jpg"); background-repeat: no-repeat; background-position: top center; background-size: 100%;}
#box05 h2{ width: 1000px; margin: 0 auto 80px; text-align: center;}
#box05 .inner{ width:1000px; margin: 0 auto; text-align: center; background: #fff; padding: 40px; box-sizing: border-box; clear: both;}
#box05 .inner p{ text-align: center; font-size: 16px; line-height: 1.8; font-weight: normal;}
#box05 .inner p em{ color: #016f28; font-weight: bold; font-style: normal; font-size: 18px;}
#box05 .inner h3{ line-height: 65px; text-align: center; color: #000; font-size: 50px; font-weight: normal; margin-bottom: 40px; font-family: 'Archivo Black', sans-serif;}
#box05 .inner h3 span.img01{ display: block; margin-bottom: 15px;}
#box05 .inner h3 span.img02{ margin-right: 10px; display: inline-block;}
#box05 .inner h3 span.img02 img{ width: 50px; height: auto;}
#box05 .inner .btn01{ width: 400px; margin: 40px auto;}
#box05 .inner .btn01 img{ width: 100%; height: auto;}


@media screen and (max-width:899px) {
#box05{ padding: 40px 0;}	
#box05 h2{ width: 50%; margin: 0 auto 40px;}
	#box05 h2 img{width: 100%; height: auto;}	
#box05 .inner{ width:95%; padding: 20px;}	
#box05 .inner img{ width: 100%; height: auto;}		
#box05 .inner p{ font-size: 13px;}
#box05 .inner p em{font-size: 16px;}
#box05 .inner h3{ line-height: 40px; font-size: 30px; margin-bottom: 20px;}
#box05 .inner h3 span.img01{ display: block; margin-bottom: 15px;}
#box05 .inner h3 span.img02{ margin-right: 5px; display: inline-block;}
#box05 .inner h3 span.img02 img{ width: 25px; height: auto;}
#box05 .inner h3 span.img01{ width: 30%; margin: 0 auto 10px;}	
#box05 .inner h3 span.img01 img{ width: 100%; height: auto;}		
#box05 .inner .btn01{ width: 80%; margin: 20px auto;}	
}


#box06{ width: 100%; background: #cbcbcb; padding: 160px 0 80px; background-image: url("../images/bg04.jpg"); background-repeat: no-repeat; background-position: top center; background-size: 100%;}
#box06 .inner{ width:1000px; margin: 0 auto; text-align: center; background: #fff; padding: 40px; box-sizing: border-box; clear: both;}
#box06 .inner p.txt01{ text-align: center; font-size: 22px; line-height: 1.8; font-weight: normal;}
#box06 .inner p.txt02{ text-align: center; font-size: 16px; line-height: 1.8; font-weight: normal;}

@media screen and (max-width:899px) {
#box06{ padding: 80px 0 40px;}	
#box06 .inner{ width: 95%; padding: 20px 3px; margin: 0 auto;}
	#box06 .inner .center_img{ width: 100%;}
	#box06 .inner .center_img img{ width: 100%; height: auto;}
#box06 .inner p.txt01{ font-size: 13px; margin-bottom: 10px;}
#box06 .inner p.txt02{ font-size: 13px;}	
}



#box07{ width: 100%; background: #d4ccb8; padding: 160px 0 80px; background-image: url("../images/bg05.jpg"); background-repeat: no-repeat; background-position: top center; background-size: 100%;}
#box07 .inner{ width:1000px; margin: 0 auto; text-align: center; background: #fff; padding: 40px; box-sizing: border-box; clear: both;}
#box07 h2{ width: 1000px; margin: 0 auto 80px;}
#box07 .inner h3{ text-align: center; font-size: 28px; margin-bottom: 40px; color: #658048; font-weight: 500;}
#box07 .inner h3 span{ display: block; margin-bottom: 15px;}
#box07 .inner .m_box{ width: 100%; margin:0 auto 40px; clear: both; overflow: hidden;}
#box07 .inner p{ text-align: center; font-size: 20px; line-height: 1.8; font-weight: normal;}
#box07 .inner p em{ color: #016f28; font-weight: bold; font-style: normal;}
#box07 .inner p.txt02{text-align: left;}
#box07 .inner p.txt03{text-align: center; font-size: 22px; color: #000; font-weight: 500;background: linear-gradient(transparent 60%, #ffff00 0%); display: inline;}
#box07 .inner .center_img{ padding: 40px 0;}
#box07 .inner .right_img{ float: right;}
#box07 .inner .left_img{ float: left; margin-right: 20px;}
#box07 .inner .sdgs{ background: url("../images/bg06.jpg") no-repeat top right; background-size: contain; margin-bottom: 40px;}
#box07 .inner h4{ color: #016f28; text-align: left; margin-bottom: 20px; line-height: 1.8; font-size: 22px;}
#box07 .inner .s_img{ width: 430px; display: inline-block;}
#box07 .inner .s_img img{ width: 100%; height: auto;}

@media screen and (max-width:899px) {
#box07{ padding: 40px 0 40px;}
#box07 .inner{ width:95%; padding: 20px;}	
#box07 h2{  width: 60%; margin: 0 0 40px 10px;}	
	#box07 h2 img{ width: 100%; height: auto;}
#box07 .inner h3{ font-size: 16px; margin-bottom: 20px; }
#box07 .inner h3 span{ width: 30%; margin: 0 auto 10px;}
	#box07 .inner h3 span img{ width: 100%; height: auto;}	
#box07 .inner .m_box{ width: 100%; margin:0 auto 20px; }
#box07 .inner p{ font-size: 13px; }
#box07 .inner p.txt02{text-align: left;}
#box07 .inner p.txt03{font-size: 16px;}	
#box07 .inner .center_img{ padding: 20px 0;}	
	#box07 .inner .center_img img{ width: 100%; height: auto;}
#box07 .inner .right_img{ float: none;  width: 40%; margin: 0 auto 10px;}
#box07 .inner .left_img{ float: none; margin-right: 0px; width: 60%; margin: 0 auto 20px;}	
	#box07 .inner .right_img img, #box07 .inner .left_img img{ width: 100%; height: auto;}
#box07 .inner .sdgs{ margin-bottom: 20px;}	
	#box07 .inner .sdgs p{ text-align: left;}	
#box07 .inner h4{ margin-bottom: 10px;font-size: 13px;}	
#box07 .inner .s_img{ width: 100%;}	
}



#box08{ width: 100%; background: #fff; padding: 160px 0 80px; background-image: url("../images/bg07.jpg"); background-repeat: no-repeat; background-position: top center; background-size: 100%;}
#box08 .inner{ width:1000px; margin: 0 auto; text-align: center; background: #fff; padding: 40px; box-sizing: border-box; clear: both; box-shadow:0px 0px 6px 2px #cccccc;}

@media screen and (max-width:899px) {
#box08{ padding: 80px 0 40px;}
#box08 .inner{ width:95%; padding: 20px 5px;}	
	#box08 .inner .center_img{ width: 100%;}
	#box08 .inner .center_img img{ width: 100%; height: auto;}	
}

#box09{background: #e5e6ea; width: 100%; padding: 80px 0;}
#box09 .inner{ width:1000px; margin: 0 auto; text-align: center; box-sizing: border-box; clear: both;}

@media screen and (max-width:899px) {
#box09{padding: 40px 0;}
#box09 .inner{ width:95%;}	
	#box09 .inner .center_img{ width: 100%;}
	#box09 .inner .center_img img{ width: 100%; height: auto;}		
}

#box10{background: #fff; width: 100%; padding: 80px 0;}
#box10 .inner{ width:1200px; margin: 0 auto; text-align: center; box-sizing: border-box; clear: both;}
#box10 h2{ margin-bottom: 40px;}
#box10 .itembox{ border: 1px solid #000; padding: 10px; box-sizing:border-box; width: 1090px; margin: 0 auto 60px;}
#box10 .itembox .img01{ text-align: center;}
#box10 .itembox .img02{display: flex; justify-content: space-between;}
#box10 .itembox .img02 li{position: relative; padding-bottom: 100px;}
#box10 .itembox .img02 li .btn{position: absolute; bottom: 20px; width: 469px; margin: auto; left: 0; right: 0;}

#box10 .itemlist{ display: flex; flex-wrap: wrap; width: 1090px; margin: 0 auto; justify-content: space-between;}
#box10 .itemlist .itembox02{border: 1px solid #000; padding: 10px; box-sizing:border-box; width: 530px; margin-bottom: 60px; position: relative;}
#box10 .itemlist .itembox02 .btn{position: absolute; bottom: 20px; width: 469px; margin: auto; left: 0; right: 0;}

.present{ border: 4px solid #000; width: 1090px; padding: 80px 15px 15px; box-sizing: border-box; position: relative; margin: 60px auto 60px;}
.present h2{ position: absolute; top: -40px; text-align: center; width: 606px; left: 0; right: 0; margin: auto;}
.present h3{ font-size: 28px; text-align: left; font-weight: bold; margin-bottom: 20px;}
.present p{ text-align: left; font-size: 14px; line-height: 1.8; margin-bottom: 120px;}
.present .right_img{float: right; margin: 0 0 10px 10px;}

@media screen and (max-width:899px) {
#box10{padding: 40px 0;}
#box10 .inner{ width:95%; }
#box10 .inner { width: 100%;}
#box10 .inner img{ width: 100%; height: auto;}	
#box10 h2{ width: 60%; margin: 0 auto 20px;}
#box10 .itembox{padding: 5px; width: 95%; margin: 0 auto 30px;}
#box10 .itembox .img02{display: block; }
#box10 .itembox .img02 li{position: relative; padding-bottom: 80px;}
#box10 .itembox .img02 li .btn{position: absolute; bottom: 20px; width: 80%; margin: auto; left: 0; right: 0; display: block;}	
	
.present{ border: 2px solid #000; width: 95%; padding: 30px 10px 10px; margin: 40px auto 40px;}
.present h2{ position: absolute; top: -20px; text-align: center; width: 80%!important; left: 0; right: 0; margin: auto;}
.present h3{ font-size: 16px; margin-bottom: 10px;}
.present p{ font-size: 13px; margin-bottom: 0px;}
.present .right_img{float: none; display: block; width: 40%; margin: 0 auto 20px;}	
#box10 .itemlist{ display: block; width: 100%; }
#box10 .itemlist .itembox02{padding: 5px; width: 95%; margin: 0 auto 30px; }
#box10 .itemlist .itembox02 .btn{width: 80%; margin: auto; left: 0; right: 0;  display: block;}	
}

#box11{background: url("../images/bg08.jpg") no-repeat top right;; width: 100%; padding: 80px 0;}
#box11 .inner{ width:1071px; margin: 0 auto; text-align: center; box-sizing: border-box; clear: both;}
#box11 .inner img{ width: 100%; height: auto;}

@media screen and (max-width:899px) {
#box11{padding: 40px 0;}
#box11 .inner{ width:95%;}
#box11 .inner img{ width: 100%; height: auto;}	
}

#box12{background: #fff; width: 100%; padding: 80px 0;}
#box12 .inner{ width:900px; margin: 0 auto; text-align: center; box-sizing: border-box; clear: both;}
#box12 .inner .center_img{ width: 900px; margin: 15px 0; }
#box12 .inner .center_img img{width: 100%; height: auto;}
#box12 .inner p{ text-align: center; font-size: 16px; line-height: 1.8; font-weight: normal;}
#box12 .inner .btn01{ width: 400px; margin: 40px auto;}
#box12 .inner .btn01 img{ width: 100%; height: auto;}

@media screen and (max-width:899px) {
#box12{padding: 40px 0;}
#box12 .inner{ width:95%;}
#box12 .inner .center_img{ width: 95%; margin: 0 auto 15px;}
#box12 .inner .center_img img{width: 100%; height: auto;}	
#box12 .inner p{ font-size: 13px;}
#box12 .inner .btn01{ width: 60%; margin: 20px auto;}
	#box12 .inner h2{ width: 80%; margin: 0 auto 20px;}
	#box12 .inner h2 img{ width: 100%; height: auto;}	
}

/* ==========================================================================
margin
   ========================================================================== */
.mt0 { margin-top: 0px !important; }
.mt5 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt35 { margin-top: 35px !important; }
.mt40 { margin-top: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mt50 { margin-top: 50px !important; }
.mt55 { margin-top: 55px !important; }
.mt60 { margin-top: 60px !important; }
.mb0 { margin-bottom: 0px !important; }
.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb80 { margin-bottom: 80px !important; }
.mr0 { margin-right: 0px !important; }
.mr5 { margin-right: 5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.ml0 { margin-left: 0px !important; }
.ml5 { margin-left: 5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }

/* ==========================================================================
width
   ========================================================================== */
.w95{ width: 95%; margin: 0 auto;}
.w90{ width: 90%; margin: 0 auto;}
.w80{ width: 80%; margin: 0 auto;}
.w70{ width: 70%; margin: 0 auto;}


/* ==========================================================================
layout
   ========================================================================== */
.sp_on{ display: none;}
 @media (max-width: 767px) {
.sp_on{  display: block;}     
}

.tab_on{ display: block;}
 @media (max-width: 979px) {
.tab_on{  display: none;}     
}

@media screen and (min-width: 768px) {
	a[href^="tel:"] {
		pointer-events: none;
	}
}

/* ==========================================================================
  03.btn
   ========================================================================== */

#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

#page-top a {
  display: block;
  width: 100%;
  padding: 0;
  text-align: center;
}

 @media screen and (max-width:767px) {
#page-top {
  position: fixed;
  bottom: 20px;
  right: 10px;
}

#page-top a {
  display: block;
  width: 100%;
  padding: 0;
  text-align: center;
}
}
