body {
  font-family: 'Noto Serif JP', serif;
  background:#fff;
  width:100%;
}

/*TOP section, バナーも入れ*/



.br_on {
  display: none;
}

.br_on_xs-sm {
  display: none;
}

.wrapper {
  width:100%;
  margin:0 auto;
}

.shop-button{
  position:fixed;
  width:180px;
  height:180px;
  top:30px;
  right:30px;
  z-index:999;
}

.shop-button:hover {
  opacity: 0.8;
}

.logo {
  width:15vw;
  margin:0 0 15px 5px;
  padding-top:10px;
}

.inner {
  width:100%;
  max-width:1000px;
  margin:0 auto;
}

header {
  width:100%;
  height:20px;
}

header .logo {
  width:240px;
}

.banner {
  width: 100%;
  background: url("../images/mv01.jpg") no-repeat bottom center;
  background-size: cover;
  min-height: 500px;
}

.banner-2 {
  background-size: cover;
  background-position: center;
  min-height: 650px;

}

.banner h2 {
  margin: 8vh 0 0 0;
  font-size: 1.75em;
  font-weight: bold;
  text-align: left;
  border-bottom: 3px dashed black;
  padding-bottom:1vh;
  line-height:2em;
}

.banner p {
  font-size: 20px;
}

footer {
  /*height:80px;*/
  background: #928A7F;
  color:white;
}

footer p a {
  color:white;
}

/*Section bg001*/
.bg001 {
  width: 100%;
  background: #fff;
}

}
.bg001 .inner h1, .bg002 .inner h1 {
  font-size:2em;
  font-weight: bold;
  text-align:center;
  line-height:2em;
}

.bg001 .inner h1 {
  margin-top: 3vh;
  text-align: center;
}



.bg001 .inner h1 strong {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size:2em;
  padding:0 5px;
  border-bottom:1px dashed black;
}



.bg002 {
  width: 100%;
  padding: 40px 0;
  background-image: url(../images/bg01.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

.bg002 .inner h1 {
  text-align: center;
  font-weight:bold;
}

.bg002 .inner .bg002-img {
  width:100%;
  margin:0 auto;
}

.bg002 .inner .bg002-img h1 {
  text-align: center;
}



.bg003 .inner h2 {
  font-size:60px;
  font-family:'Archivo Black', sans-serif;
  margin-bottom: 40px;
  line-height:65px;
  text-align: center;
  margin-top:10vh;
}

.bg003 .inner h2 span {
  margin-right: 10px;
}



.bg003 .inner .btn01 {
  text-align: center;
}

.section001 {
  margin:6vh 0;
  padding:0 4vh;
}


.section001 .text {
  text-align: center;
  width:75%;
  vertical-align: center;
  position: relative;
  height: 100%;
  padding: 0px;
  background: #FFFFFF;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: #7F7F7F solid 2px;
  z-index: 99;
}

.section001 .text:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 0 15px 67px;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
margin-top: -15px;
right: -67px;
top: 50%;
}

.section001 .text:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 16px 0 16px 68px;
border-color: transparent #7F7F7F;
display: block;
width: 0;
z-index: 0;
margin-top: -16px;
right: -70px;
top: 50%;
}


.section001 .text p{
  font-size:24px;
  font-weight:bold;
  line-height:2em;
}

.section001 .text h1{
  font-size:24px;
  color:#006F28;
  font-weight:bold;
}



.section001 .text h1 strong {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #006F28;
  font-size:1.5em;
  padding:0 5px;
  border-bottom:1px dashed #006F28;
}

.section001 .img {
  width:25%;
}

.section002 {
  padding:0 5vh;
}

/*bg004*/


.main {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 0;
  /*background: linear-gradient(to bottom, #f1b900 0%, #f1b900 50%, #000000 50%, #272660 50%, #272660 100%);*/
  /* W3C */
  width: 100%;
  transition: all 300ms;
  height: 100%;
  display: flex;
  align-items: center;
}
.folder {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.folder img {
  display: block;
  height: auto;
  width: auto;
  max-width: 1000px;
  max-height: 1000px;
}
.txt-1 {
  position: absolute;
  top: 32%;
  left: 18%;
  font-size: 1vmin;
}

.txt-2 {
  position: absolute;
  top: 33%;
  right: 14%;
  font-size: 1vmin;
}

.txt-3 {
  position: absolute;
  top: 94%;
  right: 27%;
  font-size: 1vmin;
  text-align: center;
}

.txt-4 {
  position: absolute;
  top: 96%;
  left: 26%;
  font-size: 1vmin;
  text-align: center;
}

.txt-5 {
  position: absolute;
  top: 65%;
  left: 8%;
  font-size: 1vmin;
}

.txt-6 {
  position: absolute;
  top: 65%;
  right: 9%;
  font-size: 1vmin;
}

.txt-7 {
  position: absolute;
  top: 21%;
  right: 41%;
  font-size: 1vmin;
}

.bg004 {
  width: 100%;
  background: #c7cbb8;
  padding: 80px 0;
  background-image: url(../images/bg02_02.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}



.bg004 .inner {
  margin-top: 80px;
  margin-bottom: 80px;
}

.bg004 .inner .contain {
  background:#fff;
  margin-top: 80px;
  padding-bottom:80px;
}

.bg004 .inner h1, .bg004 .inner h2, .bg004 .inner p {
  text-align: center;
}

.bg004 .inner h2 {
  margin-bottom:4vh;
  color:#396F29;
  font-weight:bold;
  font-size:24px;
}

.bg004 .inner .garden {
  margin:20px auto;
}

.bg004 .inner p {
  line-height:2em;
}

.bg004 .inner p strong {
  color:#396F29;
}

.section002 {
  margin-bottom:5vh;
}

.bg004 .fragrance {
  margin:40px 0;
}

.bg004 .fragrance .dark-green {
  background-color: #648049;
  text-align: center;
  color:white;
  font-size:0.9em;
  /*display: flex!important;*/
  align-items: center!important;
}

.bg004 .fragrance .brown {
  background:#805403;
  text-align: center;
  color:white;
  font-size:0.9em;
  /*display: flex!important;*/
  align-items: center!important;
}



/*bg005*/

.second {
  background-color:#AA9B90;
  background-size: contain;
  background-position: center;
}

.bg005 {
  padding-top: 2vh;
}
.bg005 .inner h1 {
  margin:6vh auto;
  text-align:center;
}


/*bg006*/

.bg006 {
  width: 100%;
    background: #aa9c91;
    padding: 80px 0;
    background-image: url(../images/bg03.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

.bg006 .inner {
  margin-bottom:10vh;
}

.bg006 .inner h1 {
  text-align: center;
}

.bg006 .inner .contain {
  background:white;
  padding-bottom: 8vh;
}

.bg006 .inner h6, .bg006 .inner h3, .bg006 .inner h2 {
  text-align: center;
  padding-top: 5vh;
}

.bg006 .inner h2 {
  margin-bottom: 4vh;
  color: black;
  font-weight: bold;
  font-size: 36px;
  font-family:'Archivo Black', sans-serif;
}

.bg006 .inner p {
  text-align: center;
  line-height:2em;
}

.bg006 .inner p strong {
  color:#396F29;
  font-weight:bold;
}

.bg006 .inner .btn01 {
  text-align: center;
  margin:5vh 0 10vh;
}

.bg006 .slider {
  margin:4vh 0;
}



/*bg010*/

.bg010 {
  width: 100%;
  background: #cbcbcb;
  padding: 160px 0 80px;
  background-image: url('../images/bg04.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

.bg010 .inner {
  background:#fff;
  padding:3vh 30px;
  margin:8vh auto;
}

.bg010 .inner h3 {
  text-align: center;
  font-size: 22px;
  line-height: 1.8;
  font-weight: normal;
}
.bg010 .inner h1, .bg010 .inner h2 {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  color:#39702A;
  letter-spacing: 2px;
}


.bg010 .inner h2 strong {
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #006F28;
    font-size: 1.75em;
    padding: 0 5px;
    border-bottom: 1px dashed #006F28;
    font-style: normal;
    padding-bottom: 5px;
    line-height: 2.5em;
}

.bg010 .inner h1 img{
  padding:0 10px;
}

.bg010 .inner p.title{
  text-align: center;
}


.bg010 .inner .voices {
  width:98%;
  margin: auto;
  /*background:blue;*/
}

.bg010 .inner .voices .comment-right, .bg010 .inner .voices .comment-left {
position: relative;
width: 100%;
height: 100%;
margin-top:6vh;
padding: 3vh 5vh;
text-align: justify;
background: #FFFFFF;
/*-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;*/
border: #9a9a9a solid 1px;
}

.bg010 .inner .voices .comment-right:after{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
left: -15px;
top: 150px;
}

.bg010 .inner .voices .comment-right:before{
content: '';
position: absolute;
border-style: solid;
border-width: 15px 15px 15px 0;
border-color: transparent #9a9a9a;
display: block;
width: 0;
z-index: 0;
left: -16px;
top: 150px;
}

.bg010 .inner .voices .comment-left:after {
content: '';
position: absolute;
border-style: solid;
border-width: 15px 0 15px 15px;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
right: -15px;
top: 150px;
}

.bg010 .inner .voices .comment-left:before {
content: '';
position: absolute;
border-style: solid;
border-width: 15px 0 15px 15px;
border-color: transparent #9a9a9a;
display: block;
width: 0;
z-index: 0;
right: -16px;
top: 150px;
}



.bg010 .inner .voices .comment-right h2, .bg010 .inner .voices .comment-left h2{
  text-align: center;
}

.bg010 .inner .voices .comment-right p, .bg010 .inner .voices .comment-left p{
  line-height: 2em;
}


/*bg011*/
.bg011 {
  width: 100%;
  background: #d4ccb8;
  padding: 160px 0 80px;
  background-image: url(../images/bg05.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}


.bg011 .inner .contain {
  padding:40px 20px;
  border:1px solid #9a9a9a;
  background:#fff;
  margin-top:8vh;
}

.bg011 .inner .contain h3, .bg011 .inner .contain h4 {
  text-align: center;
  margin:4vh 0;
}
.bg011 .inner .contain p {
  font-size:18px;
  line-height: 2em;
  letter-spacing: 2px;
}

.bg011 .inner .contain .sdg, .bg011 .inner .contain h5 {
  text-align: center;
  margin:40px auto;
}

.bg011 .inner .contain h5 {
  font-weight:bold;
  background: linear-gradient(transparent 60%, #ffff00 0%);
}


.bg011 .inner .contain .bubble {
  position: relative;
  width: 100%;
  height: 200px;
  padding: 10px 0 0 0;
  background: #FFFFFF;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: #7F7F7F solid 2px;
  z-index: 999;
  text-align: center;
  color:#3A7127;
  font-weight:bold;
}

.bg011 .inner .contain .bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 0 15px 46px;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -15px;
  right: -46px;
  top: 50%;
}

.bg011 .inner .contain .bubble:before
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 16px 0 16px 47px;
  border-color: transparent #7F7F7F;
  display: block;
  width: 0;
  z-index: 0;
  margin-top: -16px;
  right: -49px;
  top: 50%;
}

.bg011 .inner .contain .bubble strong {
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #006F28;
    font-size: 1.75em;
    padding: 0 5px;
    border-bottom: 1px dashed #006F28;
    font-style: normal;
    padding-bottom: 5px;
    line-height: 2.5em;
}



/*bg012設定*/
.bg012 {
  width: 100%;
  background: #fff;
  padding: 160px 0 80px;
  background-image: url(../images/bg07.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

.bg012 h1, .bg012 h2 {
  text-align: center;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  margin-top:5vh;
}

.bg012 h2 {
  font-size:2.5em;
}

.bg012 p {
  margin: 2vh auto;
  font-size: 1.1em;
  letter-spacing: 3px;
  text-align: center;
  line-height:2em;
}

.bg012 p strong{
  color:#397029;
  font-size:1.2em;
}

.bg012 p em {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #006F28;
  font-size:1.75em;
  padding:0 5px;
  border-bottom:1px dashed #006F28;
  font-style: normal;
  padding-bottom: 5px;
  line-height: 2.5em;
}

.bg012 h2 {
  font-size:2.5em;
}

.bg012 .inner {
  border:1px solid #9a9a8a;
  padding:20px;
  margin-top:9vh;
  margin-bottom: 9vh;
  background:#fff;
}

.bg012 .inner .txt-left {
  text-align: left;
  letter-spacing: 4px;
}

.bg012 .inner h3 {
  font-size: 23px;
  padding: 18px;
  border: 1px solid black;
  width: 85%;
  text-align: center;
  margin:4vh 0;
}

.bg012 .inner h2 strong{
  background: linear-gradient(transparent 60%, #ffff66 60%);
}


.bg012 .inner h6 {
  font-size:16px;
  line-height:2em;
  letter-spacing: 2px;
  margin-top:3vh;
}

.bg012 .inner h6 strong {
  font-size:2em;
}

.bg012 .inner .red {
  color:#AF363C;
}

.bg012 .inner .green {
  color:rgb(65,128,60);
}


/*bg013設定*/

.bg013 {
  background: #e5e6ea;
  width: 100%;
  padding: 80px 0;
}

.bg013 .inner h1 {
  font-size:24px;
  padding:20px 0;
  border-top:2px solid black;
  border-bottom: 2px solid black;
  font-weight:bold;
  text-align: center;
  /*margin-top:8vh;*/
  margin:8vh auto 4vh;
  /*letter-spacing: 3px;*/
}

.bg013 .inner .sect {
  margin-top:5vh;
}

.bg013 .inner .sect h2 em {
  font-size:14px;
  color:#397029;
  margin-left:5px;
  font-style: normal;
  position: absolute;
  top:5px;

}

.bg013 .inner .sect h2 strong {
  font-size:32px;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  padding:12px 20px;
  background:#006F28;
  margin-bottom:20px;
  line-height: 2em;
}



.bg013 .inner h3 {
  text-align: center;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  font-weight:normal;
  letter-spacing: 4px;
  line-height: 2em;
  margin-bottom: 8vh;
}

.bg013 .inner p {
  font-size:12px;
  color:#397029;
}


/*bg014設定*/

.bg014 {
  background: #fff;
  width: 100%;
  padding: 80px 0;
}

/*商品セット*/
.bg014 .inner h1.title {
  text-align: center;
  font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
  margin-top:6vh;
  font-size:2em;
}

.bg014 .inner .border {
  border:2px solid black;
  padding:20px;
  margin:5vh auto;
}

.bg014 .inner .border h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 3vh 0 3vh;
}

.bg014 .inner .border p {
  line-height: 2.5em:
  margin:0 0 2em;
}

.bg014 .inner .border h4{
  font-size:1em;
  font-weight:bold;
}

.bg014 .inner .border .circle {
  border-radius: 50%;
  background:#A22F23;
  color:#FFF;
  height:140px;
  width:140px;
  text-align: center;
  position:relative;
  width:50%;
}

.bg014 .inner .border .circle p{
  position:absolute;
  top:50%; left:50%;
  transform: translate(-50%, -50%);
  margin:0;
  line-height:2em;
  font-size:18px;
  font-weight:bold;
  width:80%;
}

.bg014 .inner .border .circle p strong{
  font-size:1.5em;
  margin:0 5px;
}



.bg014 .inner .border ul {
  list-style: none;
  margin-left:-40px;
}

.bg014 .inner .border ul li {
  padding:10px;
  border:2px solid #000;
  margin-right:20px;
  display: inline-flex;
  font-weight:bold;
}

.bg014 .inner .border p.price {
  text-align: right;
  font-size:0.7em;
  line-height: 2.5em;
}


.bg014 .inner .border p.price em {
  /*text-align: right;*/
  font-size:2.5em;
  font-style: normal;
  font-weight:bold;
}

.bg014 .inner .border p.price em {
  /*text-align: right;*/
  font-size:2.5em;
  font-style: normal;
  font-weight:bold;
}

.bg014 .inner .border p.price span {
  /*text-align: right;*/
  font-size:2em;
}

.bg014 .inner .border p.price em {
  /*text-align: right;*/
  font-size:0.25em;
  color:#822419;
  font-style: normal;
  font-weight:bold;
  border:1px solid #822419;
  padding:10px;
  margin-right:10px;

}

.bg014 .inner .border p.price-main {
  text-align: right;
  font-size:1em;
  /* font-weight:bold; */
  line-height: 2.25em;
}

.bg014 .inner .border p.price-main span {
  font-size:1em;
  font-weight:normal;
}
.bg014 .inner .border p.price-main strong{
  font-size:2em;
  font-weight:bold;
}










.bg014 .inner .border .product_img {
  margin-top:20px;
}

/*bg014 remedy hand balmレメディハンドバーム*/
.bg014 .inner .remedy {
  padding:20px 10px;
  border:3px solid black;
  margin:10vh 0;
}
.bg014 .inner .remedy h1 {
  margin:-60px auto 20px;
}

.bg014 .inner .remedy p {
  font-size:12px;
  line-height:2em;
  width:95%;
}

/*bg014 individual_item*/
.bg014 .inner .individual_item {
  border:1px solid black;
  padding:10px;
  margin: 1.5em .5em;
  max-width: calc(50% - 1em)!important;
}

.bg014 .inner .individual_item h1 {
  font-size:1.5em;
  font-weight:bold;
  margin:4vh 0;
}

.bg014 .inner .individual_item p {
  font-size:0.85em;
  line-height: 1.5em;
}

.bg014 .inner .individual_item ul {
  list-style: none;
  margin-left:-40px;
}

.bg014 .inner .individual_item ul li {
  padding:10px;
  border:2px solid #000;
  margin-right:20px;
  display: inline-flex;
  font-weight:bold;
}

.bg014 .inner .individual_item h4 {
  font-size:1.2em;
  font-weight:bold;
}

.bg014 .inner .individual_item h1 strong {
  font-size:12px;
  font-weight:normal;
  position:relative;
  bottom:12px;
}

.bg014 .inner .individual_item p.price {
  text-align: right;
  font-size:0.7em;
  line-height: 2.5em;
}

.bg014 .inner .individual_item p.price em {
  /*text-align: right;*/
  font-size:2.5em;
  font-style: normal;
  font-weight:bold;
}

.bg014 .inner .individual_item .unselect {
    color:#fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

 .bg014 .inner .individual_item p.price-main {
      text-align: right;
    font-size: 1em;
    font-weight: bold;
    line-height: 2.25em;
 }

 .bg014 .inner .individual_item p.price em, .bg014 .inner .set_item p.price em {
  /*text-align: right;*/
  font-size:0.25em;
  color:#822419;
  font-style: normal;
  font-weight:bold;
  border:1px solid #822419;
  padding:10px;
  margin-right:10px;

}

.bg014 .inner .individual_item p.price-main, .bg014 .inner .set_item p.price-main {
  text-align: right;
  font-size:1em;
  font-weight:bold;
  line-height: 2.25em;
}

.bg014 .inner .individual_item p.price-main span, .bg014 .inner .set_item p.price-main span {
  font-size:1em;
  font-weight:normal;
}
.bg014 .inner .individual_item p.price-main strong, .bg014 .inner .set_item p.price-main strong{
  font-size:2em;
  font-weight:bold;
}


/*bg014 set_item*/
.bg014 .inner .set_item {
  border:1px solid black;
  padding:10px;
  margin: 1.5em .5em;
  max-width: calc(50% - 1em)!important;
}

.bg014 .inner .set_item h1 {
  font-size:1.5em;
  font-weight:bold;
  margin:4vh 0;
}

.bg014 .inner .set_item p {
  font-size:0.85em;
  line-height: 1.5em;
}

.bg014 .inner .set_item ul {
  list-style: none;
  margin-left:-40px;
}

.bg014 .inner .set_item ul li {
  padding:10px;
  border:2px solid #000;
  margin-bottom:20px;
  display: inline-flex;
  font-weight:bold;
}

.bg014 .inner .set_item h4 {
  font-size:1.2em;
  font-weight:bold;
}


.bg014 .inner .set_item p.price {
  text-align: right;
  font-size:0.7em;
  line-height: 2.5em;
}

.bg014 .inner .set_item p.price em {
  /*text-align: right;*/
  font-size:2.5em;
  font-style: normal;
  font-weight:bold;
}

.bg014 .inner .set_item ul li {
  font-size: 14px;
}





/*bg015 box*/
.bg015 {
  background: url(../images/bg08.jpg) no-repeat top right;
  width: 100%;
  padding: 80px 0;
}

.bg015 .inner .box {
  width:100%;
  margin:80px auto;
  padding-bottom:20px;
  background: rgba(256, 256, 256, 0.6);
}

.bg015 .inner .box h1 {
  background:#006F28;
  text-align:center;
  color:white;
  font-size:24px;
  padding:20px 0;
}


.bg015 .inner .box h2 {
  font-size: 24px;
  margin:20px 0;
  padding:20px;
}

.bg015 .inner .box h2 em {
  font-size: 12px;
  font-style: normal;
  position:relative;
  bottom:12px;
}

.bg015 .inner .box h2 strong {
  border:3px solid black;
  padding:20px;
}

.bg015 .inner .box p {
  font-weight:bold;
  padding-left: 40px;
}

.bg015 .inner .box p strong {
  color:#D64880;
}

.bg015 .inner .box p.last {
  padding-bottom:8vh;
}



/*送料*/

.shipment {
  background: #fff;
  width: 100%;
}

.shipment .inner h1, .shipment .inner .txt-900 {
  text-align: center;
}

.shipment .inner h1 {
  margin:4vh 0 2vh;
}
.shipment .inner .txt-900 {
  margin:3vh 0 4vh;
}

.shipment .inner a {
  margin:4vh auto;
  text-align: center;
}

.shipment .shipment-details {
  background:#F2F2F2;
  padding:20px;
  margin:4vh 0 4vh;
}

.shipment .all-products {
  margin:0 auto;
  width:50%;
}

.shipment .shipment-details h2 {
  font-size:1.5em;
  text-align:center;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.shipment .warning {
  margin-top:10px;
  padding-bottom:20px;
}


.footer {
  background: #fff;
  width: 100%;
}



/*// Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
  .folder img {
    max-width: 100%;
    max-height: 100%;
  }

   .bg013 .inner .bg-first {
    order: 1;
  }

  .bg013 .inner .bg-second {
    order: 2;
  }
}
/*// Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
  .folder img {
    max-width: 100%;
    max-height: 100%;
  }

}




/*スマホ Viewの時*/
@media screen and (max-width: 576px) {
  .br_on {
    display: block;
  }

  .inner {
    width:95%;
  }

  .banner h2 {
    margin: 8vh 0 0 0;
    font-size: 1em;
  }

  .banner p {
    font-size:14px;
  }

  /*.banner-2 {
    padding: 0;
    min-height: 0;
    margin: 150px 0;
  }*/



  .shop-button {
    right:20px;
    top:10px;
    width:60px;
    height:60px;
  }

  .bg001 .inner h1, .bg002 .inner h1 {
    font-size: 17px;
    text-align: center;
    line-height: 2em;
  }

  .bg002 {
    padding:30px 0;
  }

  .bg003 .inner h2 {
    font-size: 40px;
  }

  .folder img {
    max-width:90vw;
  }

  .txt-1 {
    left: 15%;
  }

  .txt-2 {
    right: 11%;
  }
  .txt-3 {
    right: 27%;
  }

  .txt-6 {
    top: 66%;
    right: 7%;
  }


  .txt-7 {
    right: 38%;
  }

  .bg004 .inner .col-6 {
    margin-bottom: 4vh;
  }

  .bg006 .inner p {
    font-size: 0.7em;
  }

  .section001 .text p {
    font-size: 10px;
  }

  .section001 .text h1 {
    font-size: 12px;
  }

  .section001 .text:after {
    border-width: 15px 0 14px 36px;
    right: -26px;
  }

  .section001 .text:before {
    right: -37px;
    border-width: 16px 0 16px 36px;
  }

  .bg004 .inner h2 {
    font-size:20px;
  }

  .bg004 .inner p {
    line-height: 2em;
    font-size: 10px;
  }

  .bg006 {
    background: #AA9B8F;
    margin-top: -180px;
  }

  .bg006 .inner {
    margin-top: 20px;
  }

  /*商品情報*/

  .bg010 .inner {
    margin:0 auto;
  }

  .bg010 .inner h3 {
    font-size: 1em;
  }

  .bg010 .inner h1, .bg010 .inner h2 {
    font-size: 1rem;
  }

  .bg010 .inner h2 {
    margin-top: 10px;
  }

  .bg010 .inner h2 strong {
    font-size: 1.5em;
  }

  .bg010 .inner .voices .comment-right, .bg010 .inner .voices .comment-left {
    padding:1vh;
  }


  .bg010 .inner .voices .comment-right p, .bg010 .inner .voices .comment-left p {
    line-height: 2em;
    font-size: 7px;
  }



  .bg010 .inner .voices .comment-right h2, .bg010 .inner .voices .comment-left h2 {
    padding: 0 30px;
  }

  .bg010 .inner .voices .comment-right, .bg010 .inner .voices .comment-left {
    height:100%;
  }

  .bg010 .inner .voices .comment-right:after, .bg010 .inner .voices .comment-left:after {
    top:10%;
  }

  .bg010 .inner .voices .comment-right:before, .bg010 .inner .voices .comment-left:before {
    top:10%;
  }

  .bg010 .inner .voices .comment-right, .bg010 .inner .voices .comment-left {
    margin-top: 3vh;
  }


  .bg010 .inner p.title {
    font-size: 1em;
  }


  .bg011 .inner .contain h5 {
    display: inline;
  }

  .bg011 .inner .contain p {
    font-size: 0.75em;
  }

  .bg011 .inner .contain .bubble {
    height: 100%;
    font-size: 10px;
  }

  .bg011 .inner .contain .bubble:before, .bg011 .inner .contain .bubble:after {
    border-width:0;
  }

  .bg011 .inner .contain h5 {
    display: inline;
    font-size: 0.9em;
  }





  .bg012 h2 {
    font-size: 1.25em;
  }

  .bg012 p {
    font-size: 0.75em;
    letter-spacing: 2px;
    text-align: left;
  }

  .bg012 p em {
    font-size: 1.25em;
  }

  .bg012 .inner h3 {
    font-size: 11px;
    padding: 10px;
  }

  .bg012 .inner h6 {
    font-size: 10px;
  }

  .bg012 .inner h6 strong {
    font-size: 1.5em;
  }

  .bg013 .inner h3 {
  font-size:1.2em;
  }

  .bg013 .inner .bg-first {
    order: 1;
  }

  .bg013 .inner .bg-second {
    order: 2;
  }
  .bg004 .inner .contain {
    padding-bottom: 120px;
  }
  .bg014 .inner h1.title {
    font-size:1.4em;
  }

  .bg014 .inner .border h2 {
    font-size: 1.3em;
  }

  .bg014 .inner .border p {
    font-size:12px;
    line-height:2em;
  }
  .bg014 .inner .border h4 {
    font-size: 0.9em;
  }

  .bg014 .inner .border ul li {
    margin-bottom:20px;
    font-size:0.8em;
  }

  .bg014 .inner .set_item h1 {
    font-size: 1.3em;
  }

  .bg014 .inner .set_item h4 {
    font-size: 1em;
  }

  .bg014 .inner .individual_item h1 {
    font-size: 1.3em;
  }



  .bg014 .inner .individual_item h4 {
    font-size: 1em;
  }

  .bg014 .inner .individual_item, .bg014 .inner .set_item {
    max-width: calc(100% - 2em)!important;
    margin:2vh auto;
  }

  .bg014 .inner .remedy h2 {
    font-size:1em;
  }

  .bg014 .inner .xs-first {
    order:1;
  }

  .bg014 .inner .xs-second {
    order:2;
  }

  .bg014 .inner .individual_item ul li {
    margin-bottom:10px;
  }

  .bg015 .inner .box h2 {
    font-size: 0.8em;
    font-weight:bold;
  }

  .bg015 .inner .box h2 strong {
    font-size: 1em;
    padding:7px;
  }

  .bg015 .inner .box p {
    font-weight: bold;
    padding-left: 20px;
    font-size: 0.7em;
    padding-right: 20px;
  }

  .bg015 .inner .box h2 {
    margin: 5px 0;
    font-size:0.7em;

  }

  .shipment .inner .txt-900 {
    text-align: center;
    font-size: 0.6em;
  }

  .shipment .inner h1 {
    font-size:1.5em;
  }

  .shipment .all-products {
    width:90%;
}

  .shipment .shipment-details h2 {
    font-size:1em;
  }

  .shipment .shipment-details p{
    font-size:0.6em;
  }

  .shipment p.memo {
    font-size:0.8em;
  }

  .shipment .warning {
    font-size:0.8em;
    padding-bottom:30px;
  }

  footer p a {
    font-size:0.7em;
  }

}


@media screen and (max-width: 375px) {
  .br_on_xs-sm {
    display: block;
  }

  .banner h2 {
    font-size: 0.9em;
  }

  .bg001 .inner h1 {
    font-size: 12px;
  }

  .bg002 .inner h1 {
    font-size: 14px;
  }

  .section001 .text {
    height:100%;
  }

  .section001 .text:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 0px 13px 44px;
    border-color: transparent #7F7F7F;
    display: block;
    width: 0;
    z-index: 0;
    margin-top: -11px;
    right: -39px;
    top: 50%;
  }

  .section001 .text:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 1px 15px 67px;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -15px;
    right: -38px;
    top: 50%;
  }


  .section001 .text p {
    font-size: 8px;
  }

  .section001 .text h1 {
    font-size: 10px;
  }
  .bg004 .inner .contain {
    padding-bottom: 120px;
  }

  .bg004 .inner p {
    font-size: 11px;
  }

  .bg006 .inner p {
    font-size: 0.5em;
  }

  .bg010 {
    padding:40px 0;
  }

  .bg010 .inner h3 {
    font-size: 0.75em;
  }

  .bg010 .inner h1, .bg010 .inner h2 {
    font-size: 0.75rem;
  }

  .bg010 .inner h2 strong {
    font-size: 1.25em;
  }

  .bg010 .inner p.title {
    font-size: 0.75em;
  }

  .bg010 .inner .voices {
    width:100%;
    height:100%;
    margin:20px 0;
  }

  .bg010 .inner .voices .comment-right p, .bg010 .inner .voices .comment-left p {
    line-height: 1.5em;
    font-size: 8px;
  }
  .bg010 .inner .voices .comment-right, .bg010 .inner .voices .comment-left {
    height: 100%;
  }

  .bg010 .inner .voices .comment-right, .bg010 .inner .voices .comment-left {
    margin-top: 2vh;
  }

  .bg011 {
    padding: 80px 0;
  }

  .bg011 .inner .contain .bubble:after{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -15px;
  left: 24px;
  top:111%;
  }

  .bg011 .inner .contain .bubble:before{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #7F7F7F transparent;
  display: block;
  width: 0;
  z-index: 0;
  bottom: -16px;
  left: 24px;
  top:114%;
  }

  .bg012 {
    padding:40px 0;
  }

  .bg012 p {
    font-size: 0.75em;
    letter-spacing: 2px;
  }

  .bg012 p strong {
    font-size: 1em;
  }

  .bg012 p em {
    padding:0 0 3px;
    font-size: 1.2em;
  }

  .bg012 .inner .txt-left {
    text-align: left;
    letter-spacing: 1px;
  }

  .bg012 .inner h3 {
    font-size: 13px;
    padding: 10px;
    width: 100%;
    margin:0;
  }

  .bg013 {
    padding: 20px 0;
  }

  .bg013 .inner h3 {
    font-size: 15px;
  }

  .bg013 .inner h1 {
    font-size: 16px;
    padding: 20px 9px;
  }

  .bg014 .inner .border {
    padding: 20px 0;
  }

  .bg014 .inner .border p {
    font-size: 0.7em;
  }

  .bg014 .inner .border ul li {
    margin-bottom: 15px;
    font-size: 0.75em;
  }

  .bg014 .inner .border h4 {
    font-size: 0.8em;
  }

  .bg014 .inner .individual_item ul li {
    margin-bottom: 10px;
  }

  .bg014 .inner .set_item h1 {
    font-size: 1.2em;
  }

  .bg014 .inner .set_item ul li {
    font-size: 0.8em;
  }

  .bg014 .inner .set_item p {
    font-size: 0.75em;
  }

  .bg015 .inner .box {
    margin: 40px auto;
  }

  .bg015 .inner .box h2 strong {
    font-size: 0.7em;
    padding: 5px;
  }

  .bg015 .inner .box h1 {
    font-size: 16px;
  }
  .bg015 .inner .box p {
    padding-left: 20px;
    font-size: 0.6em;
    padding-right: 20px;
  }

  .shipment .inner h1 {
    font-size: 1.25em;
  }

  .shipment .inner .txt-900 {
    font-size: 8px;
  }

  .shipment .shipment-details p {
    font-size: 8px;
  }


}
